.title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.row2 {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.timer {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

.textButton {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

button.active {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.fancyButton {
    background-color: #4CAF50;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

}

.rythem-box-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

.rhythem-box {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}